{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
    <br>
    <h2 style="text-align: center;">Login</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        <input type="text"  class="form-control" placeholder="Username" name="username"><br>
        <input type="password" class="form-control" placeholder="Password" name="password"><br>
        <div style="text-align: center;">
            <a href="{% url 'login' %}"><button type="button" class="btn btn-secondary">Clear</button></a>
            <button type="submit" class="btn btn-primary" style="text-align: center;">Login</button>
        </div>
    </form>
</div>
{% endblock %}